/* index.css */
@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --gray-brado: #4c5567;
}

.p-connected-overlay-enter-done {
  z-index: 1400 !important;
}

[type="reset"] {
  background-color: var(--gray-brado);
}

.btn-brado {
  background-color: var(--gray-brado) !important;
}

@page {
  size: A4;
  margin-top: 1cm;
  margin-bottom: 1cm;
}

@media print {
  .pagebreak {
    clear: both;
    page-break-before: always;
  }
}

.label-form span.label {
  display: block;
  min-width: 125px;
}

.p-dropdown-clearable.p-inputwrapper-filled.filters-tela-remanejamento-militar,
.p-multiselect.p-component.p-inputwrapper.p-inputwrapper-filled.p-column-filter.filters-tela-remanejamento-militar,
.filters-tela-remanejamento-militar .p-inputtext.p-component.p-filled.p-column-filter {
  border-color: orange;
}

.MuiFormHelperText-root {
  color: red !important;
}

:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-error-50: rgba(231, 76, 60, 0.5);
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  /* Used only for colored theme */
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  /* Used when no type is provided
   toast("**hello**") */
  --toastify-color-progress-light: linear-gradient(to right, #ccc, var(--gray-brado));
  /* Used when no type is provided */
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}
